.package-item {
  h4 {
    font-size: 1.2em;
    margin-bottom: 0.3em;
  }
  a {
    text-decoration: none;
    color: #008ec4;
    position: relative;
    bottom: 3px;
    left: 2px;
    &:hover {
      text-decoration: underline;
    }
  }

  p {
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  span {
    background: #cecece;
    color: #543729;
    display: inline-block;
    font-weight: normal;
    font-size: 0.65em;
  }
  small {
    svg {
      width: 1rem;
      height: 1rem;
    }
  }
}
