header {
  background: #ffcc2f;
  color: #543729;
  padding: 10px 0;
  margin-bottom: 20px;

  .container {
    position: relative;
    margin: 0 auto;
    padding: 0 10px;

    .nav {
      position: absolute;
      right: 0;
      top: 0;
      z-index: 2;
      font-weight: bold;
      font-size: 16px;
      list-style-type: none;
      margin: 0;

      .docs a {
        color: #00acee;
      }

      li {
        float: left;

        a {
          color: #2baf2b;
          display: block;
          padding: 0.2em 15px;
          border-radius: 4px;
          text-decoration: none;
          &:hover {
            text-decoration: none;
            background: white;
            outline: 0;
          }
        }
      }
    }

    .logo {
      display: block;
      width: 140px;
      position: absolute;
      left: 30px;
      top: 15px;
      transition: 0.3s;
      &:hover {
        transform: scale(1.1);
      }
    }

    .page-title {
      font-size: 64px;
      font-weight: bold;
      letter-spacing: -0.025em;
      margin: 0;
      padding: 0;
      padding-top: 2rem;
      padding-left: 12rem;
    }

    sub {
      font-size: 1.2em;
      font-weight: bold;
      color: #543729;
      padding-left: 12rem;
      position: relative;
      bottom: 1rem;
      a {
        text-decoration: none;
        color: #008ec4;
      }
    }
    @media screen and (max-width: 680px) {
      .nav {
        text-align: center;
        display: table-cell;
        margin-bottom: 10px;
        border-bottom: 1px solid #f1c03e;
        position: absolute;
        width: 100%;
      }
      .logo {
        position: relative;
        display: inline-block;
        width: 40px;
        left: auto;
        top: 5px;
      }
      .page-title {
        font-size: 32px;
        padding: 0.5rem 1rem;
        display: inline-block;
      }

      li {
        float: none;
        text-align: center;
        display: table-cell;
        margin-bottom: 10px;
      }

      .title-section {
        padding-top: 3rem;
      }

      sub {
        display: none;
      }
    }
  }
}
