.menu-button {
  max-width: 250px;
  border: 1px solid #ccc;
  border-radius: 2px;
  text-align: center;
  padding: 1rem;
  margin: 20px auto;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  color: #00acee;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
